@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel

<br></br>
<h4>DocumentQuestion</h4>
<hr />
<div class="card">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Text" class="control-label"></label>
            <input asp-for="Text" class="form-control" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
       <select class="browser-default custom-select col-md-4" id="fileNumber">
            <option selected>File number limit</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="2">3</option>
            <option value="2">4</option>
            <option value="2">5</option>
            <option value="2">6</option>
            <option value="2">7</option>
            <option value="2">8</option>
            <option value="2">9</option>
            <option value="2">10</option>
        </select>
       <select class="browser-default custom-select col-md-4" id="fileLimit">
           <option selected>File size limit</option>
           <option value="1">1 MB</option>
           <option value="1">10 MB</option>
           <option value="2">100 MB</option>
           <option value="3">1 GB</option>
       </select>

        <div class="custom-control custom-switch float-right" style="display: flex; justify-content: space-around">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Required</label>
        </div>
    </div>
</div>
<br></br>

@Html.Hidden("OrderNumber", Model.OrderNumber)
@Html.Hidden("Type", Model.Type)