@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel

<br></br>
<h4>DocumentQuestion</h4>
<hr />
<div class="card">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Text" class="control-label"></label>
            <input asp-for="Text" class="form-control" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
    </div>
</div>

@Html.Hidden("OrderNumber", Model.OrderNumber)
@Html.Hidden("Type", Model.Type)