<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <link rel="stylesheet" href="~/css/email.multiple.css">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card col-12 email-id-row">
                    <br></br>
                    <div id="documentCard">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <input type="text" id="essai" placeholder="Email">
                            <input type="button" name="shareForm" class="btn btn-primary" value="Share">
                        </div>
                    </div>
                </div>
                <br></br>

                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

                <!-- Latest compiled JavaScript -->

                <script src="~/js/jquery.email.multiple.js"></script>
                <script>
                    $(document).ready(function ($) {
                        let data = [
                            "admin@jqueryscript.net",
                            "admin@cssscript.com"
                        ]
                        $("#essai").email_multiple({
                            data: data
                            // reset: true
                        });
                    });
                    $("input[name='shareForm']").on('click', function () {

                        //         e.preventDefault();
                        //var list = [];
                        //for (var i = 1; i < 10; i++) {
                        //    list.push(i);
                        //}
                        let emailsList = $(".single-email-id")
                            .map(function () {
                                return this.innerText;
                            })
                            .get();
                        var postData = { emails: emailsList };
                        $.ajax({
                            async: true,
                            data: postData,
                            type: "POST",
                            url: '/Form/Share',
                            success: function (partialView) {
                                $('#detailsContainer').html(partialView);
                            }
                        });
                    });
                </script>
                @*</div>*@
                <script type="text/javascript">

                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-36251023-1']);
                    _gaq.push(['_setDomainName', 'jqueryscript.net']);
                    _gaq.push(['_trackPageview']);

                    (function () {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();

                </script>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>





<script>
    $('#demo').multiple_emails();
    $('#current_emails').text($('#demo').val());
    $('#demo').change(function () {
        $('#current_emails').text($(this).val());
    });

    $("input[name='shareForm']").on('click', function () {
        // Swal.fire({
        //title: 'How old are you?',
        //icon: 'question',
        //input: 'range',
        //inputAttributes: {
        //  min: 8,
        //  max: 120,
        //  step: 1
        //},
        //inputValue: 25
        // })

        swal({
            title: 'Input email address',
            content: 'input',
            inputPlaceholder: 'Enter your email address'
        })

        //if (email) {
        //  Swal.fire(`Entered email: ${email}`)
        //}
        //$.ajax({
        //    async: true,
        //    //data: $('#form').serialize(),
        //    type: "POST",
        //    url: '/Form/Share',
        //    success: function () {
        //    }
        //});
    });

    $("input[name='deleteForm']").on('click', function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this form!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {

                if (willDelete) {
                    $.ajax({
                        async: true,
                        data: { "id": this.id },
                        type: "POST",
                        url: '/Form/Delete',
                        success: function () {
                            swal("Poof! Your form has been deleted!", {
                                icon: "success",
                            })
                                .then(() => {
                                    window.location.replace("https://localhost:44366/User/MyForms")
                                });
                        }
                    });

                } else {
                    swal("Your form is safe!");
                }
            });
    });


</script>