@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel

<br></br>
<h4>TextQuestion</h4>
<hr />
<div class="card">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Text" class="control-label"></label>
            <input asp-for="Text" class="form-control" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="custom-control custom-switch float-right" style="display: flex; justify-content: space-around">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Required</label>
        </div>
        <div class="custom-control custom-switch float-right">
            <input type="checkbox" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">Long answer</label>
        </div>
    </div>
</div>


@Html.Hidden("OrderNumber", Model.OrderNumber)
@Html.Hidden("Type", Model.Type)
