@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        @*<h1 class="display-4">Welcome</h1>*@
        <br>
        <br>
        <h3>
            “The ability to ask the right question<br> is the first step in finding<br>
            the right answer.”
        </h3>
        <br>
        <h5><pre>                   -AlphaMetrix</pre></h5>
    </div>

<script src="~/js/particles-background.js"></script>
<style>
    pre {
        color: ghostwhite;
    }

    h3 {
        color: ghostwhite;
    }
</style>