@model AlphaMetrixForms.Web.Models.Question.OptionViewModel

@Html.TextBoxFor(model => Model)

<h4>OptionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_OptionPartial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>



