@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link rel="stylesheet" href="~/css/register-login.css" />
<div class="center">


    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
    </div>
