@model AlphaMetrixForms.Web.Models.Form.FormViewModel

@{
    ViewData["Title"] = "DisplayFormView";
}
    <div class="card">
        <div class="card-header">
            Form
        </div>
        <div class="card-body">
            <div class="col-md-6">
                <form asp-controller="Response" asp-action="SubmitResponse" asp-route-form="@Model">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">@Model.Title</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">@Model.Description</label>
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Questions)
                    </div>
                    <div name="submit" class="visible">
                        <button class="btn btn-primary">Submit answers</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
}


